#hero-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 60px;
  font-weight: 700;
}

#input-container {
  box-shadow: 0 0 0 2px hsl(0 0% 100%), 0 0 100px -20px hsl(var(--primary));
  margin-top: 20px;
  display: flex;
  align-content: center;
  align-items: center;
  border-radius: 12px;
}
