#hero-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 60px;
  font-weight: 700;
}

#actions-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 600px;
  height: 70px;
  border: 6px solid white;
  border-radius: 12px;
  margin-top: 25px;
  box-shadow: 0 0 0 2px hsl(0 0% 100%), 0 0 100px -20px hsl(var(--primary));
}

app-encurtar-link-input {
  flex-grow: 3;
  height: 100%;
}

#btn-container {
  height: 100%;
  flex-grow: 1;
}