#hero-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3.5em;
  font-weight: 700;
}

#actions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 90vw;
  height: 12vh;
  border: 6px solid white;
  border-radius: 12px;
  margin-top: 25px;
  box-shadow: 0 0 0 2px hsl(0 0% 100%), 0 0 100px -20px hsl(var(--primary));
}

app-encurtar-link-input {
  width: 100%;
  height: 100%;
}

#btn-container {
  width: 100%;
  height: 100%;
}

@media (max-width: 425px) {
  h1 {
    font-size: 2.5em;

  }
}

@media (min-width: 768px) {
  #actions-container {
    width: 70vw;
    height: 70px;
    flex-direction: row;
  }

  app-encurtar-link-input {
    width: auto;
    flex-grow: 3;
  }

  #btn-container {
    width: auto;
    flex-grow: 1;
  }
}

@media (min-width: 1024px) {
  #actions-container {
    width: 60vw;
  }
}

@media (min-width: 1400px) {
  #actions-container {
    width: 35vw;
  }
}