#message-box-container {
    position: fixed;
    top: 350px;
    width: 90vw;
    min-height: 108px;
    max-width: 669px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #fff;
    border: 3px solid;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

#message-box-container[data-message-type="information"] {
    border-color: hsl(var(--primary));
}

#message-box-container[data-message-type="information"] h2 {
    color: hsl(var(--primary));
}

#message-box-container[data-message-type="error"] {
    border-color: red;
}

#message-box-container[data-message-type="error"] h2 {
    color: red;
}

#message-box-container[data-message-type="error"] button {
    background-color: red;
}

#message-box-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    align-items: center;
}

#message-box-container[data-message-name="qrcodeGerado"]{
    width: 300px;
}

#message-box-container[data-message-name="qrcodeGerado"] #message-box-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#qrcode-download-container{
    display: flex;
    gap: 5px;
    color: hsl(var(--primary));
    font-weight: 400;
    font-size: large;
}

#qrcode-download-container:hover{
    cursor: pointer;
    opacity: 0.9;
}

button {
    padding: 0.5em;
    border-radius: 5px;
    width: 40px;
}

h2 {
    font-weight: 800;
    font-size: larger;
}

#qrcode-img{
    width: 256px;
    height: 256px;
}