@if (messagesService.message(); as msg) {
  <div id="message-box-container" [attr.data-message-name]="msg.name" [attr.data-message-type]="msg.type">
    <div id="message-box-header">
      <h2>{{ msg.header }}</h2>
      <button class= "primary-color-btn"(click)="messagesService.clearMessage()">×</button>
    </div>

    <div id="message-box-body">

      @if (msg.name === 'linkEncurtado') {
        <app-copy-field [textToCopy]="msg.body" [isLink]="true" />
      }
      @else if(msg.name === 'qrcodeGerado'){
        <img id="qrcode-img" [src]="msg.body" alt="Imagem que representa o QR code gerado" />
        <a id="qrcode-download-container" [href]="msg.body" download="qr-code.png">
          <div id="qrcode-download-container">
            <i class="fa-solid fa-download"></i>
            <p>Baixar</p>
          </div>
        </a>
      } 
      @else {
        <p>{{ msg.body }}</p>
      }
    </div>
  </div>
}
