#encurtar-btn {
    border-radius: 12px;
    font-size: large;
    font-weight: 400;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    overflow: hidden;
}

#encurtar-btn:hover {
    opacity: 0.9;
}

#encurtar-btn:hover i {
    transform: translateX(3px);
}

i {
    font-size: small;
    transition: transform 0.2s ease;
}