input {
  outline: none;
  width: 500px;
  height: 35px;
  border-radius: 12px;
  background-color: hsl(var(--muted));
  border: 12px solid white;
  border-radius: 12px;
  background-image: url('/link-icon.svg');
  background-position: 5px center;
  background-repeat: no-repeat;
  padding: 3px;
}

input:focus-visible {
  box-shadow: 0 0 0 2px hsl(0 0% 100%), 0 0 0 4px hsl(195 99% 47%);
}

input::placeholder {
  text-indent: 34px;
  color: hsl(var(--muted-foregroud));
  font-weight: 300;
}

input:not(:placeholder-shown) {
  background-image: none;
}
